@tailwind base; /* Preflight will be injected here */

@tailwind components;

@tailwind utilities;


@layer utilities {
  .glass {
    
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
  }
}

#main {
  min-height: 80vh;
  width: 60%;
}
